@import "tailwindcss";

@layer utilities {
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    
    .no-scrollbar {
        -ms-overflow-style: none;  
        scrollbar-width: none; 
    }

    .transparent-black{
        background-color: rgba(0, 0, 0, 0.4);
    }
  
}